* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    font-family: 'Poppins', sans-serif;
}
/* navigation-bar starts from here */

.navbar {
    margin-left: 313px;
    margin-right: 317px;
    width: 1290px;
    height: 81px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 512px;
}
.navbar-logo {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    gap: 12px;
}
.navbar-logo-para {
    font-size: 15px;
    font-weight: 300;
    line-height: 15px;
}
.navbar-btns {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 34px;
}
.navbar-namebtn {
    width: 359px;
    height: 60px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 35px;
    text-align: start;
    font-size: 20px;
    font-weight: 400;
    background-color: #D5D7D5;
    color: #A4A4A4;
    border: 1px solid #D5D7D5;
    border-radius: 5px;
    text-align: start;
}
.navbar-searchbtn {
    width: 132px;
    height: 60px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 34px;
    padding-right: 27px;
    text-align: center;
    font-size: 20px;
    font-weight: normal;
    background-color: #000000;
    color: #FFFFFF;
    border: 1px solid #000000;
    border-radius: 5px;
}

/* navigation-bar ends here */


/* heropart starts from here */

.heropart {
    margin-top: 58px;
    width: 1348px;
    height: 660px;
    margin-left: 290px;
    margin-right: 282px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 185px;
    position: relative;
}
/* .heropart-dot-one {
    position: absolute;
} */
.heropart-img {
    padding-top: 80px;
    height: 503px;
}
.heropart-texts {
    padding-top: 58px;
    padding-left: 120px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 70px;
}
.heropart-texts-head {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 12px;
}
.heropart-texts-head-btxt {
    font-style: italic;
    font-size: 60px;
    font-weight: bolder;
}
.heropart-texts-head-img {
    height: 6px;
    width: 187px;
}
.heropart-texts-head-txt {
    font-size: 20px;
    font-weight: 400;
}
.heropart-texts-para {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 41px;
}
.heropart-texts-para-txt {
    font-size: 15px;
    font-weight: 300;
}
.heropart-texts-search {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 39px;
}

/* heropart ends here */

/* information section starts from here */

.information {
    margin-top: 109px;
    margin-left: 236px;
    margin-right: 236px;
    width: 1448px;
    height: 840px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    
}
.information-icon {
    width: 1448px;
    height: 245px;
    background-color: #000000;
    padding-left: 189px;
    padding-right: 233px;
    padding-top: 36px;
    padding-bottom: 39px;
}
.information-icon {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.information-icon-one {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 97px;
}
.information-icon-one-head {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 23px;
}
.information-icon-two {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 97px;
}
.information-icon-two-head {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 23px;
}
.information-icon-three {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 23px;
}
.information-icon-one-para {
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 200;
}
.information-icon-one-border {
    width: 103px;
}
.information-aboutus {
    padding-top: 54px;
    padding-left: 55px;
    padding-right: 33px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.information-aboutus-clmn {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}
.information-aboutus-clmn-txt {
    width: 200px;
    height: 514px;
    padding: 64px 96px;
    background-color: #D5D7D5;
    display: flex;
    justify-content: center;
    align-items: center;
}
.information-aboutus-details {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    gap: 67px;
}
.information-aboutus-head {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    gap: 9px;
}
.information-aboutus-details-head-txt {
    font-size: 35px;
    font-weight: 600;
}
.information-aboutus-details-para-text {
    text-align: end;
    font-size: 18px;
    font-weight: 300;
}

/* information section ends here */

/* Thinking About Us Section starts from here */

.thinking {
    margin-top: 193px;
    margin-left: 295px;
    margin-right: 301px;
    width: 1324px;
    height: 843px;
}
.thinking-head {
    padding-left: 136px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 20px;
}
.thinking-head-txt {
    font-size: 35px;
}
.thinking-head-img{
    height: 7px;
    width: 335px;
}
.thinking-details {
    padding: 123px 136px;
    height: 640px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 79px;
}
.thinking-details-first-part {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 79px;
}
.thinking-details-secound-part {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 79px;
}
.thinking-details-one {
    height: 270px;
    width: 233px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}
.thinking-details-heading {
    font-size: 20px;
}
.thinking-details-para {
    font-size: 12px;
    text-align: center;
}

/* Thinking About Us Section ends here */

/* adversitements section starts from here */

.adversitement {
    margin-top: 150px;
    margin-left: 237px;
    margin-right: 235px;
    height: 197px;
    width: 1448px;
    background-color: #D5D7D5;
}
.adversitement-heading {
    padding: 85px 640px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 20px;
    font-weight: normal;
}


/* adversitements section ends here */

/* adversitementstwo section starts from here */

.adversitementtwo {
    margin-top: 63px;
    margin-left: 237px;
    margin-right: 235px;
    height: 197px;
    width: 1448px;
    background-color: #D5D7D5;
}
.adversitementtwo-heading {
    padding: 85px 640px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 20px;
    font-weight: normal;
}

/* adversitementstwo section ends here */

/* footer section starts from here */

.footer {
    background-color: #000000;
    margin-left: 237px;
    margin-right: 235px;
    width: 1448px;
    height: 427px;
    color: #FFFFFF;
}
.footer-img {
    padding-top: 27px;
    padding-left: 130px;
}
.footer-details {
    padding-top: 42px;
    padding-left: 99px;
    padding-right: 135px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer-data {
    height: 163px;
    width: 194px;
}
.footer-data-items {
    width: 156px;
    height: 46px;
}
.footer-data-items-deta {
    list-style: none;
}
.footer-data-items-deta a {
    text-decoration: none;
    color: #FFFFFF;
    font-size: 15px;
    text-align: start;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 14px;
}
.term-Conditions {
    font-size: 15px;
    color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 83px;
}
.term-Conditions-items {
    width: 141px;
    height: 141px;
}
.terms-Conditions-items-deta{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 17px;
}
.terms-Conditions-items-detaitms {
    list-style: none;
}
.terms-Conditions-items-detaitmsTxt {
    text-decoration: none;
    color: #FFFFFF;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 28px;
}
.social-links-icons-deta {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 30px;
    list-style: none;
}
.social-links-icons-deta a {
    text-decoration: none;
    color: #FFFFFF;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 21px;
    font-size: 15px;
    text-align: start;
    
}
.footer-icons {
    font-size: 18px;
}
.footer-btns {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 45px;
}
.mail-btn {
    height: 57px;
    width: 451px;
    background-color: #A4A4A4;
    color: #000000;
    border: 1px solid #A4A4A4;
    border-radius: 5px;
    padding-left: 32px;
    text-align: start;
    font-size: 15px;
}
.subscribe-btn {
    width: 207px;
    height: 55px;
    background-color: #FFFFFF;
    border: 1px solid #FFFFFF;
    border-radius: 5px;
    color: #000000;
    font-size: 15px;
    text-align: center;
}
/* footer section ends here */